*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    // background-color: red;
    margin-top: .85rem;
}

header{
    background-color: green;
    h1{
        background-color: purple;
        margin: 0;
    }
    #stats{
        background-color: orange;
        ul{
            list-style: none;
            padding: 0;
        }
    }
}

canvas{
    background-color: pink;
    margin: 0 auto;
}

form{
    display: none;
    // display: flex;
    flex-direction: column;
    justify-self: end;
    border: solid black 5px;
    input{
        width: 50%;
        border: solid black 5px;
    }
    label{
        border: solid black 5px;
        width: 50%;
    }
    
}

#dialogueHolder{
    border: solid black 5px;
    
}