*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    // background-color: red;
    margin-top: .85rem;
}

header{
    background-color: green;
    h1{
        background-color: purple;
        margin: 0;
    }
    #stats{
        background-color: orange;
        ul{
            list-style: none;
            padding: 0;
        }
    }
}

canvas{
    // background-color: pink;
    margin: 0 auto;
}

form{
    display: none;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    input{
        width: 50%;
    }
    #textInput{
        display: none;
    }
    #radio{
        display: none;
    }
}

#dialogueHolder{
    border: solid #E96479 5px;
    background-color: #4D455D;
    button{
        background-color: #7DB9B6;
        border: solid black 3px;
        font-weight: bold;
    }
}

#controls{
    text-align: center;
}