*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    margin-top: 1rem;
}

#dialogueHolder{
    border: solid #E96479 5px;
    background-color: #4D455D;
    padding-bottom: .25rem;
    canvas{
        width: 100%;
    }
    button{
        background-color: #7DB9B6;
        border: solid black 3px;
        font-weight: bold;
    }
    #textInput{
        display: none;
    }
    #radio{
        display: none;
    }
    form{
        text-align: center;
        label{
            color: #F5E9CF
        }
        input{
            font-weight: bold;
        }
    }
}

#gameplayHolder{
    color: #F5E9CF;
    border: solid #E96479 5px;
    background-color: #4D455D;
    
    header{
        text-align: center;
        
        margin: 0 auto;
    }
    #controls{
        list-style: none;
        
        margin: 0;
        padding: .5rem
    }
}

#battlefieldHolder{
    
    canvas{
        
        width: 98%;
        margin: .5rem;
        background-color: #7DB9B6;
    }
}


// canvas{
//     background-color: pink;
//     margin: 0 auto;
// }





